.logo {
  background: url(logo.png);
  display: block;
  height: 100px;
  width: 200px;
  text-indent: -9999px;
}

/*.logo:hover, .logo:focus {
  background: url(hover.jpg);
}*/

.logo:hover, .logo:focus {
  background-position: 0 -100px;
}

li {
  float: left;
  margin-right: 10px;
}

.twitter, .github {
  background: url(social.png);
  display: block;
  height: 100px;
  width: 100px;
  text-indent: -9999px;
}
.github {
  background-position: -100px 0;
}
.twitter:hover, .twitter.focus {
  background-position: 0 -100px;
}
.github:hover, .github: focus {
  background-position: -100px -100px;
}