/*h1 {
  font-family: Arial, sans-serif;
s}

p {
  font-family: Arial, sans-serif;
}

.sale {
  font-family: Arial, sans-serif;
}*/

/*body {
  font-family: Arial, sans-serif;
}*/

.container {
  font-family: Arial, sans-serif;
}

/*p {
  font-size: 12px;
}
.ski_lift {
  font-size: 12px;
}
h6 {
  font-size: 12px;
}*/
p, .ski_lift, h6 {
  font-size: 12px;
}

/*.submit {
  border: 1px solid #000;
  cursor: pointer;
  text-transform: uppercase;
}
.next_button {
  border: 1px solid #000;
  cursor: pointer;
  text-transform: uppercase;  
}*/
.button {
  border: 1px solid #000;
  cursor: pointer;
  text-transform: uppercase;    
}
.submit {
  background: #555;
}
.ski_poles {
  /*margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 20px;*/
  margin: 15 10 0 20;
  font: 16px/18px bold italic sans-serif;
  background: #000 url(image.jpg) no-repeat center top;
  list-style: disc inside non;
  /*margin: 0 10px 0 10px;*/
  /*margin: 0 10px 0;*/
  margin: 0 10px;
  padding: 0 10px;
  
  border: 30px solid #ccc;
}

.sale {
  /*float: left;
  width: 100%;*/
  display: block;
  padding: 0 10px;
  margin: 5px 0;
  text-align: center;
}

.group: before, .group: after {
  display: block;
}
.group:after {
  clear: both;
}