.header {
  height: 200px;
  background-color: blue;
  margin: 20px 0;
}
.feature {
  height: 400px;
  background-color: green;
  margin: 20px 0 40px 0;
}
.body {
  height: 300px;
  background-color: grey;
  margin: 20px 0;
}
.sidebar ul li {
  font-style: italic;
  font-size: 14px;
  color: #fff;
  margin: 5px 0;
}
.featured li {
  font-style: italic;
  font-size: 14px;
  color: #ccc;
  margin: 5px 0;    
}
ul li {
  color: red;
  font-size: 12px;
  margin: 3px 0;
}
