li {
  border-bottom: 1px solid #aaa;
}
/*.last {
  border-bottom: 0;
}*/
li:last-child {
  border-bottom: 0;
}
a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
}
/*.even {
  background: #442;
}*/

/*li:nth-child(even) {
  background: #444245;
}*/
/*li:nth-child(3n+1) {
  background: #444245;
}*/
li:nth-child(3n+1) {
  background: #444245;
}

article p:last-child:after {
  content: '\2744';
}

blockquote::before {
  background: url(quote.png);
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
  top: -5px;
  left: -5px;
}