img {
  float: left;
  width: 400px;
}

/* First approach to clearning float */
/*.intro {
  clear: both;
}*/

/* Second approach to clearning float */
/*.clear {
  clear: both;
}*/

/*/ Third approach to clearning float */
/*.group:before, 
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* IE 6&7 */
/*}*/

/*.featured {
  color: #aba4ac; 
}
.featured p {
  background: #000;
  color: #fff;
}*/
#content p{
  color: #000;
  background: #ccc;
}
/*.featured {
  color: #777 !important;
  width: 400px;
}*/
#content .featured {
  color: #777;
}

/*.downhill {
  border: 5px solid #fff;
  padding-left: 10px;
  padding-right: 5px;
  width: 100px;
}*/
.downhill {
  border: 1px solid #fff;
  padding-left: 14px;
  padding-right: 14px;
  width: 310px;
  background: red;
  height: 200px;
}

sup {
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
}

article {
  position: relative;
}
h3 {
  position: absolute;
  top:10px;
  right: 10px;
}
/*.ski {
  position: fixed;
  right: 10px;
  top: 10px;
}*/
.ski, .sled {
  z-index: 1;
}