img {
  float: left;
  width: 400px;
}

/* First approach to clearning float */
/*.intro {
  clear: both;
}*/

/* Second approach to clearning float */
/*.clear {
  clear: both;
}*/

/*/ Third approach to clearning float */
/*.group:before, 
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* IE 6&7 */
/*}*/

/*.featured {
  color: #aba4ac; 
}
.featured p {
  background: #000;
  color: #fff;
}*/
#content p{
  color: #000;
  background: #ccc;
}
/*.featured {
  color: #777 !important;
  width: 400px;
}*/
#content .featured {
  color: #777;
}